:root { 
  --main-red-color: #ea1c2c;
  --pink-text: #f391b4;
  --main-pink-bg: #f5d9d5;
  --secondary-pink-bg: #dec0de;
  --transparent-pink-bg: rgba(197, 167, 165, 0.164);
}

body { 
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

#main-navbar .nav-link { 
  color: #fff; 
  font-size: 1.5rem;
}
#main-navbar .nav-link:hover { 
  color: var(--main-red-color); 
}

#main-navbar .navbar-brand { 
  color: var(--main-red-color); 
  font-size: 1.5rem;
}

.navbar.scrolled {
  background: var(--secondary-pink-bg);
  transition: background 500ms;
}

h1 { 
  text-transform: uppercase;
  font-weight: 100;
  font-size: 4rem;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1200px) {
  h1 { 
    font-size: 3.2rem;
  }
}

.slash { 
  color: var(--main-red-color);
}

.blurb h2 { 
  color: var(--main-red-color);
  font-size: 2.5rem;
  font-weight: 100;
  text-transform: uppercase;
}

.blurb p { 
  color: var(--pink-text);
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.footer { 
  color: #fff;
  font-size: 1.1rem;
  font-weight: 100;
  background-color: var(--transparent-pink-bg);
}

a, a:hover { 
  text-decoration: none; 
  color: var(--main-red-color);
  font-weight: 300;
}